@model IEnumerable<GalleryDomain.Model.Photo>

@{
    ViewData["Title"] = "Галерея";
}

<div class="d-flex justify-content-between ">
    <h1>Галерея</h1>
    <p>
        <a asp-action="Create" class="btn btn-light">Додати фото</a>
    </p>
</div>

<!-- Image Grid -->
<div class="img-row">
    @foreach (var item in Model)
    {
        @if (item.Image != null)
        {
            var base64 = Convert.ToBase64String(item.Image);
            var imgSrc = $"data:image/jpeg;base64,{base64}";

            <img src="@imgSrc" alt="Image"
                 data-id="@item.Id"
                 data-title="@item.Title"
                 data-description="@item.Description"
                 data-date="@((item.Date.HasValue) ? item.Date.Value.ToString("dd.MM.yyyy") : "")"
                 data-author="@item.Author.Name"
                 data-location="@(item.Location != null && item.Location.Name != null ? item.Location.Name : " ")"
                 class="thumbnail" />
        }
    }
</div>

<!-- Lightbox Modal -->
<div id="lightbox" class="lightbox" style="display: none;">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class="lightbox-img" id="lightbox-img" src="" alt="Enlarged Image" />
    <div class="lightbox-info" id="lightbox-info"></div>
    <button class="prev" onclick="changeImage(-1)">&#10094;</button>
    <button class="next" onclick="changeImage(1)">&#10095;</button>
    <div class="lightbox-actions">
        <a id="edit-link" href="#" class="edit-btn btn btn-primary btn-sm">Редагувати</a>
        <a id="delete-link" href="#" class="delete-btn btn btn-danger btn-sm">Видалити</a>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

    <script>
        let msnry, images = [], currentImageIndex = 0;

        document.addEventListener("DOMContentLoaded", function () {
            initMasonry();
            initializeLightbox();
        });

        function initMasonry() {
            const grid = document.querySelector('.img-row');
            msnry = new Masonry(grid, {
                itemSelector: '.thumbnail',
                columnWidth: '.thumbnail',
                percentPosition: true
            });
        }

        function initializeLightbox() {
            document.querySelectorAll('.thumbnail').forEach((img, index) => {
                img.addEventListener('click', function () {
                    openLightbox(index);
                });
                images.push({
                    src: img.src,
                    id: img.dataset.id,
                    title: img.dataset.title,
                    description: img.dataset.description,
                    date: img.dataset.date,
                    author: img.dataset.author,
                    location: img.dataset.location
                });
            });
        }

        function openLightbox(index) {
            currentImageIndex = index;
            const imageInfo = images[index];
            document.getElementById('lightbox-img').src = imageInfo.src;
            document.getElementById('lightbox-info').innerHTML = `
                <div class="lightbox-flex">
                    <h3 class="lightbox-title">${imageInfo.title}</h3>
                    <div class="lightbox-location">${imageInfo.location}</div>
                </div>
                <div class="lightbox-description">${imageInfo.description}</div>
                <div class="lightbox-flex">
                    <div class="lightbox-author"><strong>Фотограф:</strong> ${imageInfo.author}</div>
                    <div class="lightbox-date">${imageInfo.date}</div>
                </div>
            `;

            document.getElementById('edit-link').href = `/Photos/Edit/${imageInfo.id}`;
            document.getElementById('delete-link').href = `/Photos/Delete/${imageInfo.id}`;

            document.getElementById('lightbox').style.display = 'flex';
        }

        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
        }

        function changeImage(direction) {
            currentImageIndex = (currentImageIndex + direction + images.length) % images.length;
            openLightbox(currentImageIndex);
        }

        document.addEventListener('keydown', function (event) {
            if (document.getElementById('lightbox').style.display === 'flex') {
                if (event.key === 'ArrowLeft') {
                    changeImage(-1);
                } else if (event.key === 'ArrowRight') {
                    changeImage(1);
                } else if (event.key === 'Escape') {
                    closeLightbox();
                }
            }
        });
    </script>
}
