@model IEnumerable<GalleryDomain.Model.Photo>

@{
    ViewData["Title"] = "Галерея";
}

<h1>Галерея</h1>

<p>
    <a asp-action="Create">Додати фото</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Image != null)
                    {
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = $"data:image/jpeg;base64,{base64}";
                        <img src="@imgSrc" alt="Image" style="max-width: 150px; max-height: 150px;" />
                    }
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="img-row">
    @foreach (var item in Model)
    {
        @if (item.Image != null)
        {
            var base64 = Convert.ToBase64String(item.Image);
            var imgSrc = $"data:image/jpeg;base64,{base64}";
            <a asp-action="Details" asp-route-id="@item.Id">
                <img src="@imgSrc" alt="Image" />
            </a>
        }
    }
</div>

@section Scripts {
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

    <script>
        var msnry; 

        function initMasonry() {
            var grid = document.querySelector('.img-row');
            msnry = new Masonry(grid, {
                itemSelector: 'img',
                columnWidth: 'img',
                percentPosition: true
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            initMasonry();
        });
    </script>
}

           