@model GalleryDomain.Model.Author

@{
    ViewData["Title"] = "Інформація";
}
<div class="margin_top_50"></div>


<div>
    <h4>Інформація про фотографа</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати інформацію</a> |
    <a asp-action="Index">Всі фотографи</a>
</div>



<div class="img-row">
    @foreach (var item in Model.Photos)
    {
        @if (item.Image != null)
        {
            var base64 = Convert.ToBase64String(item.Image);
            var imgSrc = $"data:image/jpeg;base64,{base64}";
            <img src="@imgSrc" alt="Image" />

        }
    }
</div>

@section Scripts {
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

    <script>
        var msnry;

        function initMasonry() {
            var grid = document.querySelector('.img-row');
            msnry = new Masonry(grid, {
                itemSelector: 'img',
                columnWidth: 'img',
                percentPosition: true
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            initMasonry();
        });
    </script>
}